<div id="tournament-admins-widget" class="widget">
  <div class="widget-header">
    <h3>Admins</h3>
  </div>

  <div class="widget-content scrollable">
    <%= render "/admins/form" if current_user == @tournament.owner %>

    <% if @tournament.admins.present? %>
      <ul>
        <% @tournament.admins.each do |admin| %>
          <li>
            <div class="control-group">
              <%= User.find(admin) %>
              <div class="pull-right">
                <% if current_user == @tournament.owner %>
                  <%= link_to "Destroy",
                          tournament_admin_path(@tournament, admin),
                          data: { confirm: "Are you sure?" },
                          method: :delete, class: "btn btn-mini btn-danger" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
