<div id="invites-widget" class="widget">
  <div class="widget-header">
    <h3>Invite Players</h3>
  </div>
  <div class="widget-content scrollable">
    <h4>Invite players to your tournament</h4>
    <% if can? :manage, @tournament %>
      <%= render "/invites/form" %>
    <% end %>
    <% if @invites.present? %>
      <ul>
        <% @invites.each do |invite| %>
          <li>
            <div class="control-group">
              <%= invite.user.try(:username) %>
              <div class="pull-right">
                <% if can? :manage, @tournament %>
                  <%= link_to "Destroy",
                          tournament_invite_path(@tournament, invite),
                          data: { confirm: "Are you sure?" },
                          method: :delete, class: "btn btn-mini btn-danger" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
