<fieldset>
  <legend>Invites</legend>

  <div class="row-fluid">
    <%= render "/invites/form" %>

    <% if @tournament.invites.present? %>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>User</td>
            <% if current_user == @tournament.owner %>
              <td></td>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @tournament.invites.each do |invite| %>
            <tr>
              <td><%= User.find(invite) %></td>
              <% if current_user == @tournament.owner %>
                <td>
                  <%= link_to "Revoke",
                          tournament_invite_path(@tournament, invite),
                          data: { confirm: "Are you sure?" },
                          method: :delete, class: "btn btn-mini btn-danger" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</fieldset>
