/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#tournaments {
  textarea { width: 97%; }

  .well { margin-bottom: 10px; }

  #tournament-name-wrapper {
  	.tournament-thumb { 
  		img {min-height: 80px; min-width: 80px;}

  	}
  	.widget-content { padding-left: 30px;
  		h2, h3, h4 { margin: 0;}
  	}
  }

  .middle-content {margin-left: 0;
  	#registration-cycle, #registration-checkin {
  		.registration-cycle-content-wrapper, .registration-checkin-content-wrapper { border-right: 1px solid #ccc;}
  		.span6 {padding-right: 10px; padding-top: 5px;}
  		.sub-label {
  			h4 {text-align: center; margin-top: 15px;}
  		}
  		.sub-time-date {
  			h4, h3 { text-align: right; }
  		}
  		h3, h4 {margin: 0;}
  		h3:not(.widget-header h3) {font-weight: normal; line-height: 30px; margin-bottom: 5px;}
  		h4 {font-weight: normal; }
  	}
  }
}

#tourney-brackets {
  overflow-x: scroll;
}

.tourney-players li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  height: 18px;
}

.tourney-players li.draggable:hover {
  background-color: #fff;
  cursor: move;
}

.center {
  text-align: center;
}
