<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render partial: "/admin/groups/sidebar" %>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>
