<div class="page-header">
  <h3>
    Groups
    <%= link_to "New", new_admin_group_path, class: "btn btn-mini" %>
  </h3>
</div>

<ul class="nav nav-list">
  <% @groups.each do |group| %>
    <%= navItem group.name, edit_admin_group_path(group) %>
  <% end %>
</ul>
