<div class="span3 game-badge-container" data-game="<%= stream.game %>">
  <div class="stroke"><%= stream.name %></div>
  <%= link_to image_tag(stream.thumbnail.url(:thumb)), stream_url(stream.slug) %>
  <div class="stroke bottom"><%= stream.viewer_count %></div>
</div>
