<div id="streams" class="container-fluid">
  <div class="row-fluid">
    <% if @streams %>
      <ul class="thumbnails">
        <% @streams.each do |stream| %>
          <div class="span4 game-badge-container">
            <%= link_to image_tag(stream.thumbnail.url(:thumb)), stream_path(stream) %>
            <div class="game-badge <%= game_css_class(stream.try(:game)) %>"></div>
            <div class="row-fluid">
              <div class="span6"><%= stream.name %></div>
              <div class="span6 viewer_count">Viewers: <%= stream.viewer_count %></div>
            </div>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
