<div id="streams" class="container-fluid">
  <div class="row-fluid">
    <% if @streams %>
      <ul class="thumbnails">
        <% @streams.each_slice(4) do |streams| %>
          <div class="row-fluid">
            <% streams.each do |stream| %>
              <div class="span3 game-badge-container">
                <div class="padding">
                  <%= link_to image_tag(stream.thumbnail.url(:thumb)), stream_url(stream, protocol: "http") %>
                  <div class="game-badge <%= game_css_class(stream.try(:game)) %>"></div>
                  <div class="row-fluid info-wrapper">
                    <div class="info">
                      <div class="span6"><%= stream.name %></div>
                      <div class="span6 viewer_count">Viewers: <%= stream.viewer_count %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
