<div class="control-group">
  <%= label model_name, :game_id, :class => 'control-label' %>
  <div class="controls">
    <%= select model_name, :game_id, Game.all.collect{|g| [g.name, g.id]}, include_blank: '- Select -' %>
  </div>
</div>

<div class="control-group">
  <%= label model_name, :game_type_id, :class => 'control-label' %>
  <div class="controls">
    <%= render partial: 'shared/game_type_select', locals: { model_name: model_name, game: game } %>
  </div>
</div>
