<div class="row-fluid" id="tournaments">
  <h1>Edit Tournament</h1>

  <%= render "tournaments/workflow_navigation" %>

  <div class="row-fluid">
    <div class="span6">
      <p>Drag players to set their seed in the tournament.</p>

      <div class="widget">
        <div class="widget-header">
          <h3>Players</h3>
        </div>

        <div class="widget-content">
          <ol class="tourney-players sortable">
            <% @tournament.players.asc(:seed).each do |player| %>
              <li class="draggable" data-id="<%= player.id %>">
                <%= link_to "[x]", "#", class: "remove-player", data: { tournament_id: @tournament.slug, id: player.id.to_s, confirm: "Are you sure?" } %>
                <%= player.username %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
