<%- model_class = News -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<% @news.each do |news| %>
  <div class="post">
    <h4><%= news.title %></h4>
    <p><%= news.content %></p>
    <hr />
  </div>
<% end %>
