<div id="match-history-widget" class="widget widget-table action-table">
  <div class="widget-header">
    <h3>Match History</h3>
  </div>
  <div class="widget-content scrollable">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Loser</th>
          <th>Game</th>
        </tr>
      </thead>
      <tbody>
        <% @user.bets.accepted_and_finalized.each do |bet| %>
          <tr>
            <td><%= bet.match.winner.display_name %></td>
            <td><%= bet.match.loser.display_name %></td>
            <td><%= bet.match.game.display_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
