<div id="match-history-widget" class="widget widget-table action-table">
  <div class="widget-header">
    <h3>Match History</h3>
  </div>
  <div class="widget-content scrollable">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Loser</th>
          <th>Game</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jochs</td>
          <td>Zar</td>
          <td>Quake</td>
        </tr>
        <tr>
          <td>Jochs</td>
          <td>Zar</td>
          <td>Life</td>
        </tr>
        <tr>
          <td>Jochs</td>
          <td>Zar</td>
          <td>Sports</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
