<div class="widget">
  <div class="control-group">
    <%= image_tag model.avatar.url, :class => 'thumbnail' %>
  </div>
  <div class="control-group">
    <%= link_to 'Upload Image', edit_user_avatar_path(@user), :class => 'span12 btn btn-primary' %>
  </div>
</div>
