<div id="admins-widget" class="widget">
  <div class="widget-header">
    <h3>Admins</h3>
  </div>
  <div class="widget-content scrollable">
    <div class="control-group">
      <div class="controls">
        <%= link_to @tournament.owner.username, @tournament.owner %>
      </div>
    </div>

    <% @tournament.admins.each do |admin| %>
      <div class="control-group">
        <div class="controls">
          <%- a = User.find(admin) -%>
          <%= link_to a.username, user_path(a.username) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
