<div id="registration-widget" class="well well-small">
  <div class="widget-content scrollable">
    <% if @tournament.started? %>
      <a href="#" class="btn btn-block btn-primary btn-disabled" disabled="disabled">Tournament Started</a>
    <% else %>
      <% if @tournament.signed_up?(current_user) %>
        <% if @tournament.checked_in?(current_user) %>
          <a href="#" class="btn btn-block btn-info btn-disabled" disabled="disabled">Checked In</a>
        <% else %>
          <%= link_to "Check In", tournament_player_path(@tournament, @tournament.players.where(user: current_user).first), method: :put, class: "btn btn-block #{'btn-info' if @tournament.checkin_open_for?(current_user)}", id: "btn-checkin", disabled: !@tournament.checkin_open_for?(current_user) %>
        <% end %>

        <%= link_to "Unregister", tournament_player_path(@tournament, @tournament.players.where(user: current_user).first), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-block btn-danger" %>
      <% else %>
        <%= link_to "Sign Up", tournament_players_path(@tournament), data: { confirm: "Are you sure?" }, method: :post, class: "btn btn-block btn-primary", disabled: !can?(:join, @tournament) %>
      <% end %>
    <% end %>
  </div>
</div>
