<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>

  <%= render "/tournaments/workflow_navigation" %>

  <div class="row-fluid">
    <div class="span6">
      <%= render "/collaborators/index" %>
    </div>

    <div class="span6">
      <%= render "/invites/index" %>
    </div>
  </div>
</div>
