<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <% @subscription_types.each do |sub_type| %>
        <th><%= sub_type.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @subscription_features.each do |sub_feature| %>
      <tr>
        <td><%= sub_feature.name %></td>
        <% @subscription_types.each do |sub_type| %>
          <td><%= sub_type.value_for_feature(sub_feature) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= link_to t('.buy'), new_subscription_path, :class => 'btn' %>
</div>
