<table class="table table-striped">
  <thead>
    <tr>
      <th>Pro Subscriptions Purchased</th>
      <th>Expected Total Points</th>
      <th>Current Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @number_of_pro_subscriptions %></td>
      <td><%= @expected_total_points %></td>
      <td><%= @current_total_points %></td>
    </tr>
    </tr>
    </tr>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")), admin_reports_path, :class => 'btn' %>
