/****** Point Gaming Styles ******/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

body[data-controller="home"][data-action="index"] #about {

  input {
    font-family: 'open sans', sans-serif;
  }

  img, a {
    border: 0;
    outline: none;
  }

  .wistia_embed_script, .wistia_embed, .close_video, .signup_form, .break {
    display:none;
  }

  .top_header {
    width:810px;
    height:85px;
    max-width:100%;
    padding:0px;
    padding-top:15px;
    margin-left:auto;
    margin-right:auto;
  }

  .logo {
    background: url(asset-path('home/logo.png', image)) no-repeat left top;
    height:54px;
    width:230px;
    max-width:100%;
    margin-left:16px;
    float:left;
  }

  .nav, .nav_bottom {
    font: 1.0em 'Open Sans', Verdana,Arial, sans-serif;
    margin-top:5px;
    margin-right:20px;
    float:right;
  }

  .nav_bottom {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    float:none;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav a, .nav_bottom a {
    padding:10px 18px 10px 18px;
    text-decoration:none;
    color:#111;
  }

  .nav a.selected {
    background:url(asset-path('home/underlinemenu_border_bottom.png', image)) no-repeat center bottom;
  }

  .nav a:hover, .nav_bottom a:hover {
    color:#777;
    background:url(asset-path('home/underlinemenu_border_bottom.png', image)) no-repeat center bottom;
  }

  div.container {
    clear:both;
    max-width:100%;
    font-family: "Open Sans", Verdana, Arial; 
    border:0;	
    margin-left:auto;
    margin-right:auto;
  }

  div.content {
    width:855px;
    max-width:92%;
    margin-left:auto;
    margin-right:auto;
  }

  .wistia_embed_wrapper {
    width:100%;
    background-color:#bbb;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }


  .wistia_embed_script {
    max-height:500px;
    width:855px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .wistia_embed {	
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    margin-bottom:15px;
    text-align:center;
  }

  .close_video { 
    width:220px;
    max-width:90%;
    color:#222;
    cursor:pointer;
    font-size:1.3em;
    font-weight:200;
    cursor:pointer;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .close_video:hover {
    color:#910101;
  }

  .index {
    min-height:110px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .index h1, .faq h2, .advisors h2 {
    font-family: "Open Sans", Verdana, Arial; 
    font-weight:200;
    font-size:3.0em;
    color: #333;	
    max-width:100%;  
    line-height:1.1em;
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    padding-top:0px;
    padding-bottom:10px;
    text-align:center;
  }

  .index h2, .signup_form h3{
    font-family: 'open sans', sans-serif;
    font-weight:200;
    font-size:1.8em;
    color: #AA0000;	
    max-width:100%;  
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .screen {
    background-color:#ddd;
    max-width:100%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border:0px;
    padding:0px;	
    outline:0;
  }

  .screen img{
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    vertical-align: top;
    cursor:pointer;
  }

  .screen img:hover {
    opacity:0.8;
  }

  .signup_container {
    min-height:110px;
    margin-left:auto;
    margin-right:auto;
  }

  .signup_form {
    max-width:90%;
    width:400px;
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .signup_form label {
    display: inline-block;
  }

  .point_gaming_beta_form {
    max-width:100%;
  }

  .input_text{ 
    border:1px solid #910101;
    font-size:1.2em;
    font-weight:200;
    color:#222;
    width:250px;
    max-width:95%;
    padding:5px;
    padding-left:8px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  } 

  .input_text:hover {
    border:1px solid #CB0101;
  } 

  .others {
    margin-left:10px;
  }

  .smallbox { 
    font-size:1.0em;
    width:155px;
    max-width:95%;
    padding:3px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:0px;
  }


  .input_checkbox{ 
    margin-left:10px;
    max-width:90%;
  }

  .input_label{ 
    cursor:pointer;
  }

  .input_label:hover{ 
    color:#AA0000;
  }

  .select_games {
    width:267px;
    max-width:97%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    font-size:1.0em;
    font-weight:200;
    line-height:2.3em;
  }

  .input_submit{ 
    border:0;
    color:#222;
    background-color:#fff;
    max-width:90%;
    font-size:1.3em;
    font-weight:200;
    cursor:pointer;
    padding:10px;
    margin:0;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .input_submit:hover {
    color:#910101;
  }

  .signup, .signup_complete{
    background:url(asset-path('home/signup.png', image)) no-repeat center top;
    border:0;
    display:block;
    max-width:85%;
    width:250px;
    height:76px;
    font-size:0.9em;
    color:#fff;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
  }

  .signup_complete{ 
    background:none;
    color:#222;
  }

  .signup:hover {
    opacity:0.9;
    cursor:pointer;
  }

  .error {
    background-color:#FFEBEA;
    font-family: 'open sans', sans-serif;
    font-weight:200;
    font-size:1.1em;
    color: #222;	
    width:300px;
    max-width:90%;  
    padding:5px;
    margin-top:15px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  p.large{
    margin:0px;
    padding-bottom:0px;
    text-align:center;
    font-family: 'open sans', sans-serif;
    font-weight:400;
    font-size:1.6em;
  }

  p.small{
    margin:0px;
    padding:0px;
    padding-top:10px;
    text-align:center;
    font-family: 'open sans', sans-serif;
    font-weight:200;
    font-size:1.1em;
  }

  .line {
    max-width:100%;
    margin:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .line img{
    max-width:100%;
  }




  .social {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;	
  }

  .social img{
    margin-top:25px;
    padding:0px;
  }

  .social a {
    margin:0px;
    padding:0px;
    margin-right:15px;
    border:0px solid red;
    opacity:0.8;
  }

  .social a:hover {
    opacity:1.0;
  }

  .fb-button {
    cursor:pointer;
  }

  .fb-like {
    visibility:hidden;
  }

  .fb-like-display {
    margin-top:15px;
    visibility:visible;
  }

  .fb-like-extras {
  display:none;
  }

  .fb-like-extras a {
    font-size:0.8em;
    color:#333;
    text-decoration:none;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }

  a.last_link {
    padding:0px;
    margin:0px;
  }

  .faq, .advisors{
    width:100%;
    padding-top:20px;
    padding-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
  }

  h2.faq_title, h2.advisors_title {
    margin-top:35px;
    margin-bottom:15px;
  }

  .faq_q, .advisors_name {
    width:700px;
    max-width:80%;
    font-family: "Open Sans", Verdana, Arial; 
    font-weight:400;
    font-size:1.3em;
    color: #222;	
    padding-left:10px;
    padding-right:10px;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
  }

  .faq_a, .advisors_description {
    width:700px;
    max-width:80%;
    font-family: "Open Sans", Verdana, Arial; 
    font-weight:200;
    font-size:1.2em;
    color: #222;	
    padding-left:10px;
    padding-right:10px;
    margin-left:auto;
    margin-right:auto;
  }

  .up_down {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .up_down img {
    opacity:0.7;
  }

  .up_down img:hover {
    opacity:1.0;
  }

  .up{
    padding-right:10px;
  }

  .copyright {
    max-width:100%;
    font-family: "Open Sans", Verdana, Arial; 
    font-weight:200;
    font-size:0.8em;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }


  .features_table {
    width:100%;
    margin-top:5px;
  }

  .features_table td img {
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }

  .features_table thead {
    text-align:center;
    font-weight:400;	
  }

  .features_table td {
    padding:4px;
  }

  .points-price td{
    background-color:#999;
    color:#fff;
    font-weight:400;
  }

  .admin_table {
    width:90%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    clear:both;
  }

  .th_col_sort {
    background-color:#580000;
    cursor:pointer;
    color:#fff;
    padding:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .th_col_sort:hover{
    background-color:#820000;
    color:#fff;
  }

  tbody tr:nth-child(odd)		{ background-color:#eee; }
  tbody tr:nth-child(even)		{ background-color:#ddd; }

  tbody tr:hover { background-color:#aaa; color:#000;}

  .admin_table td {
    text-align:center;
  }

  .pager_bottom {
    width:75%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:10px;
  }


  .pager_bottom img:hover {
    cursor:pointer; 
    opacity:0.7;
  }

  .pager_form {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .html5_audio {
    width:100%;
    max-width:100%;
    margin-top:5px;
    margin-bottom:5px;	
  }

}
