div.comment.odd {
  background-color: #CFCFCF;
}

div.comment.even {
  background-color: #EEEEEE;
}

div.comment {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  clear: both;
  margin-bottom: 29px;
  position: relative;
}

div.comment .user {
  display: inline-block;
  float: left;
  font-size: .75em;
  padding: 0.5em 1em;
  width: 140px;
}

div.comment .user .username {
  font-weight: bold;
}

div.comment .contents {
  border-left: 1px solid #BBBBBB;
  margin-left: 160px;
  min-height: 100px;
  padding: 0.1em 1em;
}

div.comment .contents time {
  color: #777;
  font-size: .7em;
  line-height: 18px;
  margin-bottom: 1em;
}

div.comment .contents .actions {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 0;
}

div.comment .contents .actions li a {
  display: block;
  margin-bottom: 5px;
}
