
#user-profile {

	.profile-image {margin-left: 12px; margin-bottom: 10px;}
	.well {padding: 10px; margin-bottom: 10px;
		div {min-height: auto;}
		p {margin: 0;}
    .progress { margin-bottom: 0; }
	}
	h4 {font-weight: normal;}
	#primary-game {position: relative;
		&.Quake3 {height: 150px; background: url(image_path('quake3.png')) no-repeat 50% 25%}
		&.QuakeLive {height: 150px; background: url(image_path('quakelive.png')) no-repeat 50% 50%}
		&.CounterStrikeGo {height: 150px; background: url(image_path('counterstrikego.png')) no-repeat 50% 50%}
		&.CounterStrikeSource {height: 150px; background: url(image_path('counterstrikesource.png')) no-repeat 50% 50%}
		&.StarCraftII {height: 150px; background: url(image_path('starcrafttwo.png')) no-repeat 50% 50%}
		&.LeagueofLegends {height: 150px; background: url(image_path('leagueoflegends.png')) no-repeat 50% 50%}
		h3, h4 {position: absolute; bottom: 0; color: $white; padding: 0 10px;}
		h3 {bottom: 20px;}
	}

	#profile-top-bar {background: $lightGrey; border: 1px solid $midGrey;
		h2 {margin: 0; font-weight: bold;}
		h4 {margin: 0;}
		#username-container {padding: 10px}
		#team-container { padding: 10px; background: $darkGrey;
			h2 {color: $white;}
			#team-logo {background: $white;}
		}
	}

	.widget { border: 1px solid $midGrey; background: $lightGrey; margin-top: 10px; margin-bottom: 0;
		.widget-header {background: $darkGrey;
			h3 {font-size: 14px; color: $lightGrey; margin: 0; line-height: 20px; padding: 10px;}
		}
		.widget-content {padding: 10px;
			h3 {margin-top: 0;}
			table {margin-bottom: 0;}
		}

	}

  .sponsor {  position: relative;
    .actions { display: none; position: absolute; left: 10px; top: 10px; list-style-type: none; margin: 0;
      li a { display: block; margin-bottom: 5px; }
    }
  }
}


