#team-show {
	#logo { margin-left: 2.5641%; }
	.well { padding: 10px; margin-bottom: 10px;
		div { min-height: auto; }
		p { margin: 0; }
	}

	#team-information { background: $lightGrey; border: 1px solid $midGrey; margin-bottom: 10px; padding: 10px;
		h2 {margin: 0; font-weight: bold;}
		h4 {margin: 0;}
  }

  .sponsor {  position: relative;
    .actions { display: none; position: absolute; left: 10px; top: 10px; list-style-type: none; margin: 0;
      li a { display: block; margin-bottom: 5px; }
    }
  }
}
