#user-stream {
  #stream-info-top { margin: 0; }
  #stream-info-bottom { margin: 0;
    textarea { width: 1116px; height: 150px; }
  }
}

#user-stream-modal {
  #stream-admin-collaborators { margin-right: 30px; }
  .modal-footer { clear: both }
}

#streams {
	ul {
		div.game-badge-container {
            border: 1px solid $midGrey;
            margin-bottom: 20px;

            .stroke {
                color: $white;
                font-weight: bold;
                position: absolute;
                text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                margin-left: 5px;
                margin-right: 5px;
            }

            .stroke.bottom {
                margin-top: -20px;
            }

			a {
                overflow: hidden;

				img {
                    width: 100%;
                    height: auto;
                }
			}
		}
	}

    #stream-buttons {
        div {
            float: left;
            margin-top: 25px;
        }

        div.stream-button-separator {
            margin-left: 20px;
            margin-right: 20px;
        }

        height: 150px;
    }

    #featured-streams {
        background-image: url('/assets/featured-stream-bg.png');
        margin-bottom: 20px;
        position: absolute;
        left: 0;
        width: 100%;
        height: 241px;
        padding-top: 55px;
    }

    #streams-table {
        margin-top: 350px;
    }
}
