#user-stream {
  #stream-info-top { margin: 0; }
  #stream-info-bottom { margin: 0;
    textarea { width: 1116px; height: 150px; }
  }
}

#user-stream-modal {
  #stream-admin-collaborators { margin-right: 30px; }
  .modal-footer { clear: both }
}

#streams {
	ul {
		div.game-badge-container {margin: 10px; background: $lightGrey; border: 1px solid $midGrey;
			.info-wrapper {
				.info {@include clearfix(); background: $secondaryColor; color: $white; font-weight: bold; padding: 10px;}
			}
		}
	}
}
