<div id="registered_players-widget" class="widget">
  <div class="widget-header">
    <h3>Registered Players (<%= "#{@tournament.player_count}/#{@tournament.player_limit}" %>)</h3>
  </div>
  <div class="widget-content scrollable">
    <% @tournament.players.each do |player| %>
      <div class="control-group">
        <div class="controls">
          <%= player.user.try(:username) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
