<%- model_class = Tournament -%>
<div class="row-fluid" id="tournaments">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human %></h1>

  <div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

  <%= render :partial => 'workflow_navigation', locals: {edit: true} %>

  <div class="row-fluid">
    <div class="span9">
      <%= render :partial => 'form', locals: {edit: true} %>
    </div>
    <div class="span3">
      <%= render :partial => 'sponsors', locals: {edit: true} %>
    </div>
  </div>
</div>
