<% content_for :footer_scripts do %>
  <%= javascript_include_tag "pages/user_tournaments" %>
<% end %>

<%- model_class = Tournament -%>
<div class="row-fluid" id="tournaments">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
  <%= render :partial => 'tournaments/workflow_navigation' %>
  <%= render :partial => 'tournaments/form', locals: { form_object: [:user, @tournament], cancel_url: tournaments_path } %>
</div>
