<%- model_class = Tournament -%>
<% content_for :footer_scripts do %>
  <%= javascript_include_tag "pages/user_tournaments" %>
<% end %>

<div class="row-fluid" id="tournaments">
  <%= render :partial => 'tournaments/workflow_navigation' %>
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => 'tournaments/show' %>
    </div>
  </div>
</div>
