<div class="row-fluid" id="tournaments">
  <h1>Tournament: <%= @tournament.name %></h1>
  <%= render :partial => 'workflow_navigation' %>

  <div class="row-fluid">
    <div class="span12">
      <div id="status-widget" class="widget">
        <div class="widget-header">
          <h3>Status</h3>
        </div>
        <div class="widget-content">
          <ol>
            <li class="alert alert-success">Tournament created</li>
            <li class="alert <%= @tournament.prizepool.present? ? "alert-success" : "alert-error" %>">Prizepool locked in</li>
            <li class="alert">Payment information submitted</li>
            <li class="alert">Verifying payment (Can take up to 14 days)</li>
            <li class="alert">Tournament Activated</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>
