<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'admin/sidebar' %>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>
